.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  max-height: 211px;
  max-width: 330px;
}

.title {
  text-align: center;
  color: gray;
  font-weight: 800;
}

.a {
  text-decoration: none;
}
